<html>
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no" /> -->
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://rawgit.com/tomgco/gyro.js/master/js/gyro.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-overrides.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="bootstrap.min.js"></script>

  <script src="snake.js"></script>
  <script src="app.js"></script>

  <title></title>
</head>
<body>

  <header class="navbar">
    <div class="container navbar-container">
      <div class="row">
        <div class="col-xs-5 col-sm-6">
          <a href="https://pusher.com"><img class="full-logo" src="/images/pusher-logo.png" width="111" height="37"></a>
          <a href="https://pusher.com"><img class="small-logo" src="/images/pusher_logo_p.png" height="37"></a>
        </div>
        <div class="col-xs-7 col-sm-6">
          <a class="signup-link" href='https://pusher.com/signup'>Create a Free Account</a>
        </div>
      </div>
    </div>
  </header>


  <div class="container">

    <div class="inner">
      <div class="row">
        <h1 class="text-center page-heading">The Snake</h1>
        <h4 class="text-center page-subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</h4>

          <% if !@current_player %>
        <div class="inputs text-center">
          <input class="create-notification" type="text" id="enter-name" placeholder="Please enter your name">
        </div>
          <% else %>
          <script async defer>
            $(document).ready(function(){
              $("#canvas").show();
             $(document).trigger("start_game");              
            });

          </script>
          <% end %>

      </div>

      <div class="row board">
        <div class="col-md-6">


          <canvas id="canvas" width="450" height="450"></canvas>

        </div>

        <div class="col-md-6">

          <div class="col-md-6 feed-wrapper">
            <div class="feed-header">
              <span class="icomoon">L</span>
              <div class="feed-title-wrapper">
                <h4 class="feed-title">Data Feed</h4>
                <p>Live JSON scores</p>
              </div>
            </div>
            <p>Listening for events
              <span class="animated-ellipsis">
                <span>.</span>
                <span>.</span>
                <span>.</span>
              </span>

            </p>
            <ul class="feed" id="json-feed">
            </ul>
          </div>

          <div class="col-md-6 feed-wrapper">

            <div class="feed-header">
              <span class="icomoon">H</span>
              <div class="feed-title-wrapper">
                <h4 class="feed-title">The Wall Of Glory</h4>
                <p>The snake champions</p>
              </div>
            </div>

            <ul class="feed" id="high-scores-list">
            </ul>
          </div>

        </div>
      </div>

    </div>

  </div>

</body>
</html>